@media only screen and (max-width: 1024px){
  font-size: 16px; {
  }
  #mobile {
    visibility: visible;
  }
  #bigscreen {
    display: none;
    }
  .product {
    min-width: 47%;
  }
  #glasses {
    display: none;
    }
  .info {
    min-width: 35%;
  }
  .container {
    padding-left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 470px) {
  main {
    max-height: 15rem;
    top: 10rem;
  }
  .headline {
    font-weight: bold;
    padding: 1rem 2rem;
  }
  .headline h4 {
    font-size: 0.77rem;
  }
  .headline h1 {
    font-size: 1rem;
  }
  #watch {
    display: none;
  }
  .product {
    min-width: 90%;
  }
  .businessinfo {
    flex-wrap: wrap;
  }
  .info {
    min-width: 90%
  }
  .hours {
    padding-top: 0.5rem;
  }
  .footer h4 {
    text-align: center;
  }
}
html {
  font-size: 18px;
}
body {
  font-family: Helvetica, sans-serif;
}
.container {
  max-width: 960px;
}
header {
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  background-color: black;
  color: white;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}
header h4 {
  font-size: 1rem;
  padding: 0.66rem 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;
}
.headline {
  color: white;
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  top: 9rem
}
.headline h4 {
  font-size: 1rem;
}
.headline h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  line-height: 1.2em;
}
.headline h4, h1 {
  font-weight: bold;
}
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}
#mobile {
  visibility: hidden;
}
.products, .businessinfo {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.product {
  width: 30%;
}
.productimage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px black solid;
  padding: 2rem 0;
  height: 9rem;
}
.productimage img {
  max-width: 8rem;
}
.product h4 {
  color: white;
  display: block;
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}
.info {
  min-width: 35%;
}

.info h4 {
  padding: 1rem 2rem;
  color: white;
  background-color: black;
}
footer {
  height: 5rem;
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 5rem 0;
}

footer h4 {
  text-align: left;
}
